<!DOCTYPE html>

<%- include('../partials/head'); %> 

</html>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %> 

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi, eu me chamo Rakel Moreira e estou estudando EJS!</p>
        </div>
     </main>

     <%- include('../partials/footer'); %> 

</body>